body {
  margin: 0;
  overflow: hidden;
}

.playground {
  width: 100vw;
  height: 100vh;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.target > div {
  display: inline-block;
  margin: 0 20px;
}

.circle {
  width: 80px;
  height: 80px;
  background: #eabb4f;
  border-radius: 40px;
}

.target .circle {
  width: 90px;
  height: 90px;
  background: #cccccc;
  border-radius: 45px;
}

.rect {
  width: 80px;
  height: 80px;
  background: #6dacd9;
  border-radius: 4px;
}

.target .rect {
  width: 90px;
  height: 90px;
  background: #cccccc;
  border-radius: 6px;
}

.target .active {
  background: #ff5e00;
}

.entity {
  position: absolute;
}

.entity.circle {
  top: 100px;
  left: 100px;
}

.entity.rect {
  top: 400px;
  left: 500px;
}

.entity:hover {
  cursor: pointer;
}
